@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'themes/dark';

:root {
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}


body {
  position: relative;
  margin: 0 auto;
  width: 1440px;
  color: var(--foreground);
  background: var(--main-background);
   &::-webkit-scrollbar {
			@apply w-1.5;
		}
		&::-webkit-scrollbar-track {
			@apply rounded-md bg-[#C0B7E8];
		}
		&::-webkit-scrollbar-thumb {
			@apply rounded-md bg-[#8176AF];
		}
  }
